<p id="notice"><%= notice %></p>

<h1>Zipfiles</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zipfiles.each do |zipfile| %>
      <tr>
        <td><%= link_to 'Download', rails_blob_path(zipfile.file, disposition: "attachment") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with model: @zipfile, local: true do |form| %>
    <%= form.file_field :file %><br>
    <%= form.submit %>
<% end %>