<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @illust.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @illust.content %>
</p>

<p>
  <strong>Illusts:</strong>
  <% if @illust.illusts.attached? %>
    <% @illust.illusts.each do |illust| %>
      <%= image_tag illust %> <br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_illust_path(@illust) %> |
<%= link_to 'Back', illusts_path %>