<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @movie.content %>
</p>

<p>
  <strong>movies:</strong>
  <% if @movie.movie.attached? %>
    <%= video_tag rails_blob_path(@movie.movie, disposition: "attachment"), :controls => true %>
  <% end %>
</p>

<h2>Comments</h2>
  <div id="comments">
    <%= render @movie.comments %>
  </div>

<%= render 'comments/new', movie: @movie %> 

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
