<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<h2>Chats</h2>
    <div data-controller="chat" data-chat-refresh-interval="100">
        <div data-target="chat.talks"></div>

        <input data-target="chat.content">
        <button data-action="click->chat#submit">add</div>
    </div>

<%= javascript_pack_tag 'application.js' %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
